@import url(./global.css);
/* Image and Text at the top */
.hero h1{
    justify-self: center;
    font-family: title;
}
/* forms disappear when loaded in */
.hidden{
    display: none;
}
/* form sizing and styling */
select, input{
    background-color: var(--accent);
    height: 2rem;
}
@media(min-width:768px){
    .hero{
        font-size: x-large;
    }
}
@media(min-width:1000px){
    .hero{
        font-size: xx-large;
    }
}
@media(min-width:1200px){
}