@import url(./global.css);
/* General */
h2{
    font-family: Header;
    text-align: center;
}
p{
    font-size: large;
}
*{
    margin: 0;
}

/* Reviews */
.container{
    display: flex;
    justify-content: space-evenly;
    overflow:auto;
    gap: 10px;
}
.reviewCard{
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardImg{
    height: 300px;
    width: 100%;
    object-fit: cover;
}