@import url(./global.css);

.products.panel {
    display: grid;
    gap: 3vh;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.products .card {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
}

.products .card h3, h4, p {
    text-align: center;
    
}


@media (min-width:0px) {

    .products.panel .card {
        flex-direction: column;
    }
    .products.panel {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    
}

@media (min-width:480px) {

    .products.panel .card {
        flex-direction: row;
    }

    .imgCard {
        flex: 1 1 1500px;
    }

    .products.panel {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}

@media (min-width:768px) {
    .products.panel {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}