@import url(./global.css);

.products.panel {
    display: grid;
    gap: 10px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2, h3, p {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Title;
    color: var(--accent);
}

h2 {
    font-family: Header;
    color: var(--accent-2);
}

h3 {
    font-family: Text;
    font-size: 1.5rem;
}

p{
    font-size: large;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.imgCard{
    width: 100%;
}

.products .card {
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: row;
    height: min-content;
}

.products .card h2, h3, p {
    text-align: center;
    
}

.button2{
    width: max-content;
}


@media (min-width:0px) {
    
    .products.panel .card {
        flex-direction: column;
        
    }
    .products.panel {
        grid-template-columns: repeat(1, 1fr);
    }
    
    h1 {
        font-size: 300%;
    }
}

@media (min-width:480px) {
    
    .products.panel .card {
        flex-direction: row;
        align-items: center;
    }

    .imgCard {
        flex: 1 1 1500px;
    }
}

@media (min-width:1200px) {
    .products.panel {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 400%;
    }

    h2{
        font-size: 1.75rem;
    }

    h3{
        font-size: xx-large;
    }

    p{
        font-size: large;
    }
}